.home {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 60px 1fr 374px;
    overflow: hidden;
    margin: 58px auto 50px;
    position: relative;
  
    @media screen and(max-width: 990px) {
      grid-template-columns: 60px 1fr;
      margin: 58px 20px 50px
    }
  
    @media screen and(max-width: 590px) {
      grid-template-columns: 1fr;
      margin: 58px 8px 50px;
    }
  
    .main {
      .home-header {
        margin: 0 auto 12px;
        text-align: center;
        
        
      }
    }
    .right-side {
      position: relative;
      width: 100%;
      margin: 0px 0 0 14px;
  
      @media screen and(max-width: 990px) {
        display: none;
      }
    
      .right-side-container {
        position: fixed;
      
      }
    }
  }